# -- Makefile path helper for Windows --
# Customize this file and save to local\path.mk

INC = -I"path\to\OpenSSL\include" -I"path\containing\sqlite3" 
LIB = -L"path\to\OpenSSL\lib\MinGW" -leay32 
OBJEX = "path\to\sqlite3\sqlite3.o" 